* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container {
    width: 40vw;
}

.container h2 {
    text-align: center;
}

.chart {
    background-color: lightpink;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#new-sales {
    background-color: orange;
    padding: 25px 0;
}

#new-sales h2 {
    text-align: center;
}

#chart-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.new-sales-section{
    padding: 5px 0 5px 5px;
}

.btn {
    display: flex;
    justify-content: center;

}

#btn-submit {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid blue;
}

#btn-submit:hover {
    background-color: blue;
    color: white;

}
